# KEIL5 编译生成文件
*.axf
*.hex
*.elf
*.bin
*.lst
*.o
*.obj
*.crf
*.lnp
*.plg
*.rsp
*.sct
*.dep
*.bak
*.tmp
*.err
*.uvoptx
*.uvguix.*
*.htm
*.map
*.tra
*.dep
*.crf
*.lnp
*.axf

# KEIL5 输出目录
Objects/
Listings/
Output/
build/
Debug/
Release/

# VS Code 配置文件
.vscode/


# 其他临时文件
*.log
*.cache
.DS_Store  # Mac系统临时文件
Thumbs.db  # Windows系统临时文件